div{
    color:#7d7d7d;
    background-color: #EBEBEB;
    padding: 20px;
    margin: 10px;
}
body {
    align-items: center;
    width:600px;
    position:relative;
    margin:auto;
}
.contentboxcontrast{
    color:#919191;
    background-color: #303030;
    padding: 10px;
}
.left{
    width:200px;
    float: left;
}
.right{
    width:200px;
    float: left;
}
.centertext{
    text-align: center;
}
