div{
    color:#7d7d7d;
    background-color: #EBEBEB;
    padding: 8px;
    margin: 10px;
}
body {
    align-items: center;
    width:600px;
    position:relative;
    margin:auto;
}
.cleardiv{
    padding: 0px;
    margin: 0px;
}
.contentboxcontrast{
    color:#919191;
    background-color: #303030;
    padding: 10px;
}
.left{
    width: 54%;
    float: left;
}
.right{
    width:max-content;
    float: right;
}
.centertext{
    text-align: center;
}
